<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../bootstrap_db.php">
	<php>
		<const name="TEST_DB_SCHEMA_DIRECTORY" value="oauth,google_analytics_api"/>
	</php>
	<groups>
		<exclude>
			<group>nested</group>
		</exclude>
	</groups>
	<testsuites>
		<testsuite>
			<directory suffix="TestCase.class.php">.</directory>
		</testsuite>
	</testsuites>
</phpunit>
